* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #14120b;
  --text-color: #edecec;
  --secondary-color: #1d1d1d;
}
body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: cf6;
}

/* navbar */

header {
  height: 50px;
  width: 100vw;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 260px; /* revisit*/
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
}
li {
  list-style: none;
  padding: 5.5px 15px;
}
li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
}

.logo1 {
  height: 30px;
  width: 40px;
}
.logo1 img {
  background-size: cover;
  height: 22px;
}
.top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.download-top {
  padding: 6px 14px;
  margin: 0 4px;
  border-radius: 16px;
}
.sign-in {
  padding: 6px 14px;
  margin: 0 4px;
  border-style: none;
  border-radius: 16px;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
}

/* section 1 */

.sec-1 {
  width: 100vw;
  padding: 110px 20px 65px 20px;
}
.slide1 {
  /* height: 100vh; */
  margin: 0 260px;
}
.slide1 h1 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 500;
}
.download-mid {
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 16px;
}
.sec1-div {
  margin-bottom: 56px;
}
.sec1-img1 {
  height: 70vh;
  background-color: #1d1d1d;
  border-radius: 8px;
}

/* section 2 */
.sec-2 {
  width: 100vw;
  padding: 10px 0px 0px 0px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  text-align: center;
  font-size: 14px;
  margin: 0px 0px 20px 0px;
}
.company-names-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  /* padding: 0 240px; */
  gap: 1.4em;
}
.company-names {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 2em;
  background-color: #1d1d1d;
}
.company-names img {
  background-size: cover;
  width: 80px;
  height: 70px;
}

/* section 3 */

.sec-3 {
  width: 100vw;
  /* border: 1px solid red; */
  margin: 20px 0px;
}
.sec-3-part1 {
  height: 70vh;
  margin: 0px 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1d1d;
  border-radius: 8px;
  gap: 10px;
  margin: 80px 260px;
}
.sec-3-pt1-box1 {
  width: 40%;
  height: 100%;
  /* border: 1px solid greenyellow;
  border-radius: 8px; */
}
.sec-3-pt1-box2 {
  width: 60%;
  height: 100%;
  /* border: 1px solid greenyellow;
  border-radius: 8px; */
}

.sec-3-part2 {
  height: 70vh;
  margin: 0px 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  gap: 10px;
  margin: 80px 260px;
  background-color: #1d1d1d;
}
.sec-3-pt2-box1 {
  width: 60%;
  height: 100%;
  /* border: 1px solid greenyellow;
  border-radius: 8px; */
}
.sec-3-pt2-box2 {
  width: 40%;
  height: 100%;
  /* border: 1px solid greenyellow;
  border-radius: 8px; */
}
.sec-3-part3 {
  height: 70vh;
  margin: 0px 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1d1d;
  border-radius: 8px;
  gap: 10px;
  margin: 80px 260px;
}
.sec-3-pt3-box1 {
  width: 40%;
  height: 100%;
  /* border: 1px solid greenyellow;
  border-radius: 8px; */
}
.sec-3-pt3-box2 {
  width: 60%;
  height: 100%;
  /* border: 1px solid greenyellow;
  border-radius: 8px; */
}

/* section 4 */
.sec-4 {
  padding: 66px 20px;
}
.sec-4 h2 {
  margin: 0px 260px;
  font-size: 36px;
}
.sec-4-wrapper-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  margin: 0px 260px;
  gap: 1em;
}
.sec-4-wrapper-2 figure {
  padding: 15px 16px;
}
.sec-4-wrapper-2 figure blockquote {
  padding: 15px 16px;
  height: 160px;
}
.sec-4-wrapper-3 {
  display: flex;
  align-items: baseline;
}
.sec-4-wrapper-4 {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: red;
  margin-top: 10px;
  margin-right: 8px;
}
.sec-4-wrapper-5 span{
  color: grey;
  font-size: 13px;
}
